.ipynb_checkpoints/
# Ignore outputs
*.mp4
*.jpg
*.png
*.pt
__pycache__/
notebooks/dynamic_sam3_results/
experiments/.env
experiments/DAMO-ConvAI
experiments/agentshap/results

# Virtual environment
.venv/
